Flask
Flask-SQLAlchemy
Flask-Migrate
Flask-WTF
Flask-Login
flask_cors
gunicorn
google
google-api-python-client
google-auth
google-auth-oauthlib
google-generativeai
psycopg2-binary
pgvector
python-dotenv
gradio_client
